div#footer {
    color: gray;
    text-align: right;
}

div.container {
    margin-top: 1em;
}


select {
background-color: white;
}


.datepicker table th, table td
{
    padding: 6px;
    border: 0;
}
