<!doctype html>
<html>
<head>
    <title>Test site</title>
    <link rel="stylesheet" href="/static/yaml/core/base.css" type="text/css"/>
    <link href="/static/bootstrap.min.css" rel="stylesheet" type="text/css" >
    <link href="/static/custom.css" rel="stylesheet" type="text/css" >
</head>

<body>


<div class='container'>

{% block menu %}
    <ul class="tabs">
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#">Profile</a></li>
    <li><a href="#">Messages</a></li>
    <li><a href="#">Settings</a></li>
    <li><a href="#">Contact</a></li>
    </ul>
{% endblock %}

<div class='row'>
        <h2>{% block content_title %}{% endblock %}</h2>
        {% block content %}{% endblock %}
</div>

<div class='row'>
    <div id="footer">Desarrollado por gcoop</div>
</div>

</div> <!-- cierra container -->
</body>















</body>
</html>
