{% extends 'base.html' %}
{% block content %}
<script>
$(document).ready(function() {
    /* Muestra una animación para indicar cual es la ultima llamada ingresada. */
    if (/resaltar/.test(window.location.href)) {
        $("tr").eq(1).css('background-color', 'yellow')
        $("tr").eq(1).animate({ backgroundColor: "#FFF"}, 2000);
    }
});
</script>

<h1>Llamada</h1>

<a href='/llamada/crear' class='btn primary'>Cargar una llamada</a>

<p>
<p>
Listando las llamadas mas recientes:

<p>
<table class="bordered-table">
<tr>
    <th>Persona</th>
    <th>Fecha</th>
    <th>Rellamada</th>
</tr>

{% for llamada in llamadas %}
<tr>
    <td>{{ llamada.nombre_persona }}</td>
    <td>{{ llamada.fecha }}</td>
    <td>{{ llamada.rellamada }}</td>
</tr>
{% endfor %}
</table>

{% endblock %}
