{% extends 'base.html' %}
{% block content %}
<script>
$(document).ready(function() {
    /* Muestra una animación para indicar cual es la ultima llamada ingresada. */
    if (/resaltar/.test(window.location.href)) {
        $("tr").eq(1).css('background-color', 'yellow')
        $("tr").eq(1).animate({ backgroundColor: "#FFF"}, 2000);
    }
});
</script>

<h1>Llamada</h1>

<a href='{{ url_for('llamada_crear') }}' class='btn primary'>Cargar una llamada</a>

<p>
<p>
Listando los datos de base.

<p>
<table class="bordered-table">
<tr>
    <th>Nombre</th>
    <th>Edad</th>
    <th>Teléfono</th>
    <th>Fecha</th>
    <th>Acciones</th>
</tr>

{% for llamada in llamadas %}
<tr>
    <td>{{ llamada.nombre }}</td>
    <td>{{ llamada.edad }}</td>
    <td>{{ llamada.telefono }}</td>
    <td>{{ llamada.fecha|dateformat('%d/%m/%Y') }}</td>
    <td><a href='{{ url_for('agregar_llamada', id=llamada.id) }}'>Agregar</a></td>
</tr>
{% endfor %}
</table>

{% endblock %}
