{% extends "base.html" %}
{% block superior %}{% endblock %}

{% from 'macros/forms.html' import with_errors %}


{% block content_title %}Ingreso{% endblock %}

{% block content %}
  <form method="post" action="">
    <input type="hidden" name="next" value="{{ next }}" />
    {% for field in form %}
      <div class="clearfix{% if field.errors %} error{% endif %}">
      <label>
      {% if field.label.text == 'Username' %}
        Nombre:
      {% else %}
        Contraseña:
      {% endif %}
      </label>
        <div class="input">
          {% set css_class = 'span6 ' %}
          {% if field.errors %}
            {% set css_class = 'error ' + css_class %}
          {% endif %}
          {{ field(class=css_class) }}
          {% if field.description %}<span class="help-inline">{{ field.description|safe() }}</span>{% endif %}
          {% for error in field.errors %}<span class="help-inline">{{ error }}</span>{% endfor %}
        </div>
      </div>
    {% endfor %}
    <div class='input'>
        <button class="btn primary" type="submit">Ingresar</button>
    </div>

</form> 
{% endblock %}
