{% extends 'base.html' %}
{% block content %}
<script>
    $(document).ready(function() {
        $("#archivo").change(function() {
            $("#subir").fadeIn();
        });
    });
</script>


<h1>Asistente de importación</h1>

<p>Indique el archivo .xls que quiere importar en el sistema.

<form method="POST" enctype=multipart/form-data action='/importar/subir'>

<fieldset>
    <div class="clearfix">
        <label>Archivo .xls: </label>
        <div class="input">
            <input id='archivo' type='file' name='archivo'>
        </div>
    </div>

    <div class="input">
        <button style='display: none' type='submit' id='subir' class='btn success'>Subir archivo y continuar</button>
    </div>
</fieldset>

</form>



{% endblock %}
