{% extends 'base.html' %}
{% block content %}
<script>

function buscar_mayor_id(lista_de_elementos)
{
    var mayor = 0;

    $.each(lista_de_elementos, function(index, value) { 
        var id = $(value).attr('id');
        var numero = parseInt(id.match(/-(\d+)/)[1]);

        if (numero > mayor)
            mayor = numero;
    });

    return mayor;
}

function clone_field_list(selector) {
    var new_element = $(selector).clone(true);

    //var buscar_mayor_id($(selector).parent().find('input'));
    //var elem_id = anterior_id;
    //var elem_num = parseInt(elem_id.replace(/.*-(\d{1,4})-.*/m, '$1')) + 1;
    var elem_num = buscar_mayor_id($(selector).parent().find('input')) + 1;

    new_element.find(':input').each(function() {
        var id = $(this).attr('id').replace('-0-', '-' + elem_num + '-');
        console.log(id);
        $(this).attr({'name': id, 'id': id}).val('').removeAttr('checked');
    });
    new_element.find('label').each(function() {
        var new_for = $(this).attr('for').replace('-0-', '-' + elem_num + '-');
        $(this).attr('for', new_for);
    });

    new_element.hide();
    new_element.fadeIn();

    nuevo_selector = selector.replace('li:first', 'li:last');
    $(nuevo_selector).after(new_element);
}

function convertir_en_agregar(selector, selector_bloque_a_clonar)
{
    $(selector).click(function () {
        clone_field_list(selector_bloque_a_clonar + ' li:first');
        return false;
    });
}

$(document).ready(function(){
    convertir_en_agregar('button[id="agregar_aborto_anterior"]', '#aborto_anterior');
    convertir_en_agregar('button[id="agregar_intento_de_aborto"]', '#intento_de_aborto');
    convertir_en_agregar('button[id="agregar_informacion_incorrecta"]', '#informacion_incorrecta');

});

</script>

<ul class="breadcrumb">
    <li>{{ link_to("Listado", 'llamada_listar')|safe }} / </li>
    <li>{{ link_to("Datos basicos", 'ver_datosbase', id=form.datosbase_id.data)|safe }} / </li>
    <li class="active"><a href="#">Llamada</a></li>
</ul>

<h1>Cargar una llamada</h1>

<form method="POST" action='/llamada/crear/{{ form.datosbase_id.data }}'>

<fieldset>
 {% for campo in form %}
    {% if campo.name != 'csrf' %} 
        {% if campo.name in form.errors %}
             <div class="clearfix error">
        {% else %}
             <div class="clearfix">
        {% endif %}
                <label>{{ campo.label }}</label>
                <div class="input">
                    {{ campo }}
                    {# Si no tiene error el help-line queda vacío y no es visible #}
                    <span class="help-inline"> {{ "<br/>".join(form.errors[campo.name]) }} </span>
                </div>
            </div>      <!-- end clearfix div -->
    {% endif %}
 {% endfor %}


        <div class="input">
 <button type='submit' class='btn success'>Guardar</button>
</div>

</fieldset>
</form>


{% endblock %}
